DB_HOST=localhost
DB_NAME=customer_churn
DB_USER=postgres
DB_PASSWORD=your_local_postgres_password_here
DB_PORT=5432 (or your local postgres port if different)


# Steps

# 1. When you pull the repository, you simply:
# 2. Duplicate the .env.example file and rename the copy to .env.
# 3. Type in your own database password and set DB_PORT=5432 (or whatever port your machine runs on).
# 4. Run python ingest_data.py.